@model List<Mitrablog.Models.Posts.PostCategory>
@if (Model != null && Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <a class="dropdown-item" asp-controller="Post" asp-action="List" asp-route-CategoryId=@item.Id>@item.Title</a>
    }
}


