@model List<PostListManagerVm>

@{
    ViewData["Title"] = "مدیریت پست ها";
}

<h1 class="text-right">  مدیریت پست ها  </h1>
<div class="nav-item  mt-3 mb-3  text-left">
    <a class="btn btn-warning" asp-area="Admin"  asp-controller="PostManagment" asp-action="Create" value="">پست جدید</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>شناسه</td>
            <td>عنوان</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>